@page
@model FuneralOfficeSystem.Pages.Clients.IndexModel

@{
    ViewData["Title"] = "Εντολείς";
}

<div class="container">
    <h1 class="text-center mb-4">Εντολείς</h1>

    <div class="row mb-3">
        <div class="col-md-6">
            <a asp-page="Create" class="btn btn-primary">Προσθήκη Νέου Εντολέα</a>
        </div>
        <div class="col-md-6">
            <form method="get" class="input-group">
                <input type="text" name="searchString" class="form-control" placeholder="Αναζήτηση εντολέα..." />
                <button type="submit" class="btn btn-outline-secondary">Αναζήτηση</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Client[0].FirstName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Client[0].LastName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Client[0].AFM)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Client[0].Address)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Client[0].Phone)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Client[0].Email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Client[0].RelationshipToDeceased)
                                    </th>
                                    <th>Ενέργειες</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Client)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FirstName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LastName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AFM)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Address)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Phone)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RelationshipToDeceased)
                                        </td>
                                        <td>
                                            <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Επεξεργασία</a>
                                            <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Λεπτομέρειες</a>
                                            <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Διαγραφή</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>